<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-6">
      <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="img-fluid detail">
    </div>
    <div class="col-sm-6 my-auto">
        <h1>{{film.title}}</h1>
        <span class="badge badge-genre" *ngFor="let genre of film.genres">{{genre.name}}</span>
        <p style="margin-top:20px;">{{film.overview}}</p>
        <!-- <button mat-raised-button >Watch Movie</button> -->
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Watch Movie</button>
        <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="addToFav(film.title)">Watch Later</button> -->
        <button class="btn btn-outline-primary mb-2 mr-2" [hidden]="sharedService.hideAddFav"  (click)="addToFav(film)" placement="bottom" ngbPopover="Watch Later Added Movie to Your Favourite List" triggers="mouseenter:mouseleave">
          Watch Later
        </button>
        <button class="btn btn-outline-primary mb-2 mr-2" [hidden]="sharedService.hideRemFav"  (click)="remFav(film)" placement="bottom" ngbPopover="This will Remove Movie from your Watch List" triggers="mouseenter:mouseleave">
          Remove Favourite
        </button>
    </div>
  </div>
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Get Premium Subscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Our Premium Plans</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" [routerLink]="['/payment']" routerLinkActive="router-link-active"  (click)="modal.close('Close click')">Get Premium Now</button>
  </div>
</ng-template>


<div id="snackbar">{{msg}}</div>