<div class="bg-img">
    <div class="box">
        <h2>Login</h2>
        <form [formGroup]="loginForm" class="normal-form" (ngSubmit)='validateUser(loginForm)'> 
            <div class="controls-container">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" type="email">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                </p>
                <button mat-raised-button>Login</button>
                <p>Create Account?<a [routerLink]="['/signup']" routerLinkActive="active">Register</a></p>
            </div>
        </form>
    </div>
</div> 


<div id="snackbar">{{msg}}</div>