*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bg-img{
  background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.4)),to(rgba(0,0,0,0.4))),url(../../assets/Netflix.jpg);
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 91vh;
  background-attachment: fixed;
  box-shadow: 0 2px 2px #eee;
}

.box{
  position: absolute;
  margin-top: 13%;
  width: 30%;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: #ededeb;
  opacity:86%;
  height: fit-content;
}

h2{
  padding:20px 0;
  color: #E50914;
}

mat-form-field{
  width: 80%;
  color: black;
}

button{
  background-color: #E50914;
  margin-bottom: 50px;
  width: 77%;
}

p{
  color: black;
  margin-bottom: 30px;
}




/* SnackBar css */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #fff; /* Black background color */
  color: #333; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}