<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler  collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']"><img src="../../assets/logo.png"></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" [routerLink]="['/bollywood']" routerLinkActive="active">Bollywood</a>
      </li> -->
      
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm" [hidden]="sharedService.userActive">
      <input class="form-control mr-sm-2" type="search" placeholder="Ex: Mind Hunter" aria-label="Search" name="search" [ngModel]="search">
      <!-- <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button> -->
    </form>


    <!-- My Account Button -->
    <div class="btn-group mr-3" [hidden]="sharedService.userActive">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger" (click)="profilePage()">My Account</button>
      </div>
    </div>

    
    <div class="btn-group mr-3" [hidden]="sharedService.userActive">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-danger" (click)="signout()">Logout</button>
        <!-- <div class="dropdown-menu" ngbDropdownMenu>
          <h3 ngbDropdown>{{sharedService.username}}</h3>
          <p ngbDropdown>{{sharedService.email}}</p>
          <button class="logout-btn" ngbDropdownItem (click)="signout()">Logout</button>
        </div> -->
      </div>
    </div>
  </div>


  <!-- dropDown Logout -->
</nav>
