<div class="container">
  <div class="row" style="padding:20px">
    <div class="col-sm-4 poster" *ngFor="let film of films" [routerLink]="['/hollypage', film.id]">
      <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="img-fluid">
      <div class="middle">
        <h3>{{film.title}}</h3>
        <h5>{{film.vote_average}}/10</h5>
      </div>
    </div>
  </div>
</div>
