
<div class="box">
        <h2>Enter Details</h2>
        <form [formGroup]="resetPasswordForm" class="normal-form" (ngSubmit)='reset(resetPasswordForm)'> 
            <div class="controls-container">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>old Password</mat-label>
                        <input matInput placeholder="Old Password" formControlName="oldPassword" type="password">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="New Password" type="password" formControlName="newPassword">
                    </mat-form-field>
                </p>
                <button mat-raised-button>Submit</button>
            </div>
        </form>
</div>



<div id="snackbar">{{msg}}</div>
