.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 91%;
}

.content {
    position: fixed;
    top: 10;
    right: 90;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #aeb4bd;
    width: fit-content;
    padding: 5px;
}