
<video class="myVideo" width="800" height="400" controls>
    <source src="../../assets/Movies/EscapePlan.mkv" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">    
</video>

<h1 class="content">Escape Plan 2013</h1>
