<div class="bg-img">
    <div class="box">
        <h2>Password change</h2>
        <form [formGroup]="passForm" class="normal-form" (ngSubmit)='validateUser(loginForm)'> 
            <div class="controls-container">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>New password</mat-label>
                        <input matInput placeholder="Enter new password" formControlName="newpass" type="password">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm New password</mat-label>
                        <input matInput placeholder="Re-enter the password" type="password" formControlName="repass">
                    </mat-form-field>
                    <button mat-raised-button [routerLink]="['/login']" routerLinkActive="router-link-active"   >Confirm</button>
                </p>
                </div>
                </form>
                </div>
                </div>

