<div class="bg-img">
    <div class="box">
        <h1>Register</h1>
        <form [formGroup]="signupForm" class="normal-form" (ngSubmit)='register(signupForm)'> 
            <div class="controls-container">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password"  type="password" formControlName="password"> 
                    </mat-form-field>
                </p>   
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input matInput placeholder="Mobile" formControlName="mobile">
                    </mat-form-field>
                <p>
                <button mat-raised-button>Register</button>
                <p>Already Member?<a [routerLink]="['/login']">Login</a></p>
            </div>
        </form>
    </div>
</div> 


<div id="snackbar">{{msg}}</div>