<div class="bg-img" >
    <div class="box">
        <h1>Payment Details</h1>
        <form [formGroup]="paymentForm" class="normal-form" (ngSubmit)='pay(paymentForm)'> 
            <div class="controls-container">
                <!-- <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                     <mat-hint>Hint</mat-hint> 
                    </mat-form-field>
                </p> -->
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Card Holder Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Card type</mat-label>
                        <mat-select [(ngModel)]="selectedValue"  formControlName="card">
                            <mat-option *ngFor="let val of cards" [value]="val.value">
                              {{val.viewValue}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Bank</mat-label>
                        <mat-select [(ngModel)]="select"  formControlName="bank"   >
                            <mat-option *ngFor="let val of banks" [value]="val.value">
                              {{val.value}}
                            </mat-option>
                          </mat-select>                   
                     </mat-form-field>
                </p>   
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Card Number</mat-label>
                        <input  matInput placeholder="card number" formControlName="cardNumber">
                    </mat-form-field>
                <p>
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>CVV</mat-label>
                            <input  type="password" matInput placeholder="Enter your cvv number" formControlName="cvvNumber">
                        </mat-form-field>
                    <p>

                <button mat-raised-button >Finish Payment</button>
    </div>
</form>
    </div>
</div> 


<div id="snackbar">{{msg}}</div>
