*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
.bg-img{
    background-color:#f5f5f5;
    background-size: cover;
    background-position: center;
    height: 91vh;
    background-attachment: fixed;
    margin: auto;
}

h2{
    color: #8a8a8a;
    padding-left: 50px;
}

#linkColor h3{
    color: #0073e6;
}

h3{
    color: black;
}

hr{
    color: black;
    height: 10px;
}

.col-sm-4 p{
    color: black;
    font-size: 35px;
    font-weight: 350;
    padding: 20px 52px;
}


.modal-title{
    color: black;
    padding: 10px 20px;
}