<div class="bg-img">
  <div class="row">
    <div class="col-sm-4">
        <p>Account</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4"><h2>MEMBERSHIP & BILLING</h2></div>
    <div class="col-sm-4"><h3>{{sharedService.username}}</h3></div>
    <div class="col-sm-2"><h3>Name</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><h2></h2></div>
    <div class="col-sm-4"><h3>{{sharedService.email}}</h3></div>
    <div class="col-sm-2"><h3>Email</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><h2></h2></div>
    <div class="col-sm-4"><h3>Password:********</h3></div>
    <div class="col-sm-2" id="linkColor"><a [routerLink]="['/resetPassword']"><h3>Change Password</h3></a></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><h2></h2></div>
    <div class="col-sm-4"><h3>Mobile: {{sharedService.mobile}}</h3></div>
    <div class="col-sm-2"><h3>Contact Number</h3></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4"><h2>PLAN DETAILS</h2></div>
    <div class="col-sm-4"><h3>{{msg}}</h3></div>
    <div class="col-sm-2" id="linkColor"><a [routerLink]="['/payment']" [hidden]="sharedService.premiumLink"><h3>Get Premium Plan</h3></a></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><h2></h2></div>
    <div class="col-sm-8"><hr></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><h2></h2></div>
    <div class="col-sm-4"><h3>1</h3></div>
    <div class="col-sm-2"><h3>Members</h3></div>
  </div>
  <hr>
</div>




