@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 


body {
  background-color: #000 !important;
  color:#fff!important;
}

.poster {
  margin-top: 20px;
}


.middle {

  text-align: center;
  color: white;
}

.poster:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  filter: brightness(50%);
  z-index:-1;
}

.poster:hover .middle {
  opacity: 1;

}

.middle h5 {
  color: #e50914;
}

.detail{
  max-height:600px;
}

@media (min-width: 576px) {
  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }
}
.badge-genre{
  background-color: #e50914;
  padding:8px!important;
  margin-right: 5px;
}
.hide{
  display:none;
}

.trans{
  background-color:rgba(52, 58, 64, 0.33)!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
