<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" data-src="" alt="First slide [800x400]"
          src="https://image.tmdb.org/t/p/original{{trend[0].backdrop_path}}" data-holder-rendered="true">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{trend[0].original_title}}</h5>
          <button class="btn btn-primary" [routerLink]="['/hollypage', trend[0].id]">Get into</button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" data-src="" alt="First slide [800x400]"
          src="https://image.tmdb.org/t/p/original{{trend[1].backdrop_path}}" data-holder-rendered="true">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{trend[1].original_title}}</h5>
          <button class="btn btn-primary" [routerLink]="['/hollypage', trend[1].id]">Get into</button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" data-src="" alt="First slide [800x400]"
          src="https://image.tmdb.org/t/p/original{{trend[2].backdrop_path}}" data-holder-rendered="true">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{trend[2].original_title}}</h5>
          <button class="btn btn-primary" [routerLink]="['/hollypage', trend[2].id]">Get into</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




  <div class="container">


    <div class="row" style="padding:20px" [hidden]="sharedService.notShow">
      <h1 style="margin:auto; padding:20px;">Your Favourite Movies</h1>
      <div class="row">
        <div class="col-sm-4 poster" *ngFor="let film of favMovies" [routerLink]="['/hollypage', film.id]">
          <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="img-fluid">
          <div class="middle">
            <h3>{{film.title}}</h3>
            <h5>{{film.vote_average}}/10</h5>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="padding:20px">
      <h1 style="margin:auto; padding:20px;">In cinemas at the moment:</h1>
      <div class="row">
        <div class="col-sm-4 poster" *ngFor="let film of nowplaying" [routerLink]="['/hollypage', film.id]">
          <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="img-fluid">
          <div class="middle">
            <h3>{{film.title}}</h3>
            <h5>{{film.vote_average}}/10</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>